<% include header %>

    <link rel="stylesheet" href="stylesheets/aeon-grid.css">
    <link rel="stylesheet" href="stylesheets/style.css">

    <script type="text/javascript" src="libs/angular.js"></script>
    <script type="text/javascript" src="javascripts/controller.js"></script>

  </head>

  <body ng-app="twiPressoApp">

    <div class="navBar color-dark box-shadow-dark">
      <div class="left">
        <h2>TwiPresso</h2>
      </div>
      <div class="right">
        <h2><a href="/api/auth">Signin or Login</a></h2>
      </div>
    </div>
    <div class="under"></div>

    <main>
      <div class="welcome">
        <img src="images/title.gif" alt="title" />
        <p>Twipresso brings you news shared from your twitter friends.</p>
        <p>This service corrects tweets from your twitter timeline which have URL link.</p>
        <img src="images/introduction.gif" alt="introduction" />
      </div>
    </main>

  </body>

</html>
