/*
	Responsive Aeon Grid System v1.0.0
	Designed & Built by Fernando Monteiro, http://www.newaeonweb.com.br 
	Licensed under MIT license, http://opensource.org/licenses/mit-license.php
	
	Base stylesheet with CSS Reset, grid and progressive responsiveness
	*/

/* Simple reset just for Body element 
	 ============================================================================================== */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Container Bases 
	 ============================================================================================== */

.container {
    margin: 0 auto;
    width: 100%;
}

/* Grid Variable 
	 ============================================================================================== */
[class*="col"] {
    display: inline;
    float: left;
    position: relative;
    margin: 0.8%;
}

/* General Grid 
	 ============================================================================================== */

.col1 {
    width: 6.333%;
}
.col2 {
    width: 14.667%;
}
.col3 {
    width: 23%;
}
.col4 {
    width: 31.333%;
}
.col5 {
    width: 39.667%;
}
.col6 {
    width: 48%;
}
.col7 {
    width: 56.333%;
}
.col8 {
    width: 64.667%;
}
.col9 {
    width: 73%;
}
.col10 {
    width: 81.333%;
}
.col11 {
    width: 89.667%;
}
.col12 {
    margin-left: 0;
    width: 100%;
}
/* General small screen Mobile 
	 ============================================================================================== */

@media only screen and (max-width: 1024px) {
    .container {
        max-width: 820px;
    }
    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6,
    .col7,
    .col8,
    .col9,
    .col10,
    .col11,
    .col12 {
        width: 48%;
    }
}

@media only screen and (max-width: 640px) {
    .container {
        max-width: 400px;
    }

    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6,
    .col7,
    .col8,
    .col9,
    .col10,
    .col11,
    .col12 {
        width: 96%;
    }

    [class*="col"] {
        margin: 2%;
    }
}
