html, body {
    height: 100%;
    font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #4a4a4a;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    background-color: #eeeeee;
}

body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 60px 0 0 0;
    word-break: break-all;
    font-size: smaller;
}

a {
    color: #4a4a4a;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.color-dark {
    background-color: rgba(50, 50, 50, 0.7);
    color: #fff;
}

.color-light {
    background-color: rgba(240, 240, 240, 0.3);
}

.color-lighter {
    background-color: #fff;
}

.border {
    border: 1px solid rgba(200, 200, 200, 0.6);
}

.radius {
    border-radius: 0.4em;
}

.box_shadow-dark {
    box-shadow: 0px 3px 3px rgba(50, 80, 80, 0.2);
    -moz-box-shadow: 0px 3px 3px rgba(50, 80, 8s, 0.2);
    -webkit-box-shadow: 0px 3px 3px rgba(50, 80, 80, 0.2);
}

.box_shadow {
    box-shadow: 0px 3px 3px rgba(50, 80, 80, 0.5);
    -moz-box-shadow: 0px 3px 3px rgba(50, 80, 80, 0.5);
    -webkit-box-shadow: 0px 3px 3px rgba(50, 80, 80, 0.5);
}

.navBar {
    position: fixed;
    padding-top: 0;
    margin: 0;

    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 60px;
}

.navBar a {
    color: #fff;
    text-decoration: none;
}

.navBar .left {
    position: relative;

    float: left;
    margin-left: 20px;
}

.navBar .right {
    position: relative;

    float: right;
    margin-right: 20px;
}

.welcome {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 5% 5% 5%; 

    text-align: center;
    font-size: large;
    word-break: normal;

    background-color: #fff;
}

.welcome * {
}

.welcome img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding-top : 10%;
    padding-bottom : 10%;
}

.press-item-none {
    margin-top: 10%;
    text-align: center;
    font-size: large;
}

.press-item {
    padding: 0.5em;
}

.link_info {
    min-width: 98%;

    display: inline-block;

    min-height: 15em;
    max-height: 15em;
    overflow-y: hidden;
}

.link_info .link_open {
    position: absolute;
    width: 100%;
    height: 15em;

    top: 0;
    left: 0;

    display: block;
    text-align: center;
}

.link_info .link_open > *{
    vertical-align: middle;
    display: inline-block;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
}

.link_open span {
    height: 100%;
    width: 0px;
    display: inline-block;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
}

#ic_link_open {
    width: 50px;
    z-index: 2;
    background-color: #1e1e1e;
    color: #fff;
    opacity: 0;
    font-size: 21px;
    font-size: 2.1rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.link_open .link_info:before {
    content: '';
    background: url("../images/ic_open_in_new.png") 0 0 no-repeat transparent;
    background-size: 40px 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin-top: -20px;
    margin-left: -20px;
    width: 40px;
    height: 40px;

    border-radius: 5px;
    background-color: #323232;
    color: #fff;
    opacity: 0;

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.link_open:hover .link_info:before {
    opacity: 0.7;
}

.link_open:active .link_info:before {
    opacity: 0.7;
}

.link_info .link_image_flame {
    position: relative;
    min-height: 3em;
    float: right;
    max-width: 30%;
    margin: 0.3em;
    margin-top: 1em;
}

.link_info img.link_image {
    position: relative;
    width: 100%;
    height: auto;
}

.link_info .link_title {
    font-weight: bold;
}

.link_info .link_title, .link_content {
    position: relative;
    min-width: 83%;
    margin: 0.3em;
}

.tweet_info {
    clear: both;
    padding-top: 0.5em;
}

.tweet_info img.profile_image {
    position: relative;
    float: left;
    margin-right: 0.5em;
    max-height: 40px;
    width: auto;
}

.tweet_info .text {
    margin-top: 0;
    margin-bottom: 0.5em;
    min-height: 40px;
    max-height: 40px;
    overflow-y: hidden;
}

@media only screen and (max-width: 640px) {
    body {
        font-size: small;
        padding: 50px 0 0 0;
    }

    .navBar {
        height: 50px;
    }

    .welcome img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 400px) {
    .link_info {
        min-height: 9em;
        max-height: 9em;
    }

    .link_info .link_open {
        height: 9em;
    }    
}
